# 1. Příprava dat

---
V tutoriálu použijeme data z Microsoft News Dataset (MIND). 
MIND data patří do veřejné domény a jsou tedy volně použitelná pro výzkumné a výukové účely.
Podrobné licenční podmínky pro použití dat jsou popsány na [projektové stránce datové sady](https://msnews.github.io/). 
Podrobný popis dat je k dispozici v [online dokumentaci datové sady](https://github.com/msnews/msnews.github.io/blob/master/assets/doc/introduction.md)

V rámci přípravy dat v tomto notebooku bude provedeno:
 - vytvoření datových adresářů ve Vášem Google Drive prostoru
 - stažení datové sady do těchto datových adresářů
 - ověření, že stažení dat proběhlo bez závad
 
---

In [1]:
# import necessary functionality
import os
import numpy as np
import pandas as pd

### Vytvoření datových adresářů

In [2]:
# define data directories
BASE_DIR = ".."
MIND_DATA_SOURCE_DIR = "tmp/mind"
ORIGINAL_TRAIN_INPUT_DIR = os.path.join(BASE_DIR, MIND_DATA_SOURCE_DIR, "train/")
ORIGINAL_TEST_INPUT_DIR = os.path.join(BASE_DIR, MIND_DATA_SOURCE_DIR, "test/")

In [3]:
# mount google drive
try:
    from google.colab import drive
    drive.mount('/content/gdrive')
    BASE_DIR = "/content/gdrive/MyDrive/mlprague2022"
    IN_COLAB = True
except:
    IN_COLAB = False

In [6]:
# create data directories
! mkdir -p $BASE_DIR
! mkdir -p $MIND_DATA_SOURCE_DIR

! mkdir -p $ORIGINAL_TRAIN_INPUT_DIR
! mkdir -p $ORIGINAL_TEST_INPUT_DIR

### Stažení datové sady

In [7]:
! apt update && apt install unzip

! wget https://mind201910small.blob.core.windows.net/release/MINDsmall_train.zip -O $MIND_DATA_SOURCE_DIR/MINDsmall_train.zip
! wget https://mind201910small.blob.core.windows.net/release/MINDsmall_dev.zip -O $MIND_DATA_SOURCE_DIR/MINDsmall_dev.zip

! unzip -o $MIND_DATA_SOURCE_DIR/MINDsmall_train.zip -d $ORIGINAL_TRAIN_INPUT_DIR
! unzip -o $MIND_DATA_SOURCE_DIR/MINDsmall_dev.zip -d $ORIGINAL_TEST_INPUT_DIR

! rm $MIND_DATA_SOURCE_DIR/MINDsmall_train.zip
! rm $MIND_DATA_SOURCE_DIR/MINDsmall_dev.zip

Hit:1 http://repo.dev.dszn.cz/mirror/hdp-stretch-3.1.4.0 hdp-stretch-3.1.4.0 InRelease
Get:2 http://repo/repo/buster-stable buster-stable InRelease [7,588 B]
Hit:3 http://repo/mirror/debian buster InRelease
Hit:4 http://repo/mirror/debian buster-security InRelease
Hit:5 https://deb.nodesource.com/node_15.x buster InRelease
Fetched 7,588 B in 1s (8,618 B/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
41 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  zip
The following NEW packages will be installed:
  unzip
0 upgraded, 1 newly installed, 0 to remove and 41 not upgraded.
Need to get 172 kB of archives.
After this operation, 580 kB of additional disk space will be used.
Get:1 http://repo/mirror/debian buster/main amd64 unzip amd64 6.0-23+deb10u2 [172 kB]
Fetched 172 kB in 0s (9,462 kB/s)3m
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline

78Selecting previously unselected package unzip.
(Reading database ... 34695 files and directories currently installed.)
Preparing to unpack .../unzip_6.0-23+deb10u2_amd64.deb ...
7Progress: [  0%] [..........................................................] 87Progress: [ 20%] [###########...............................................] 8Unpacking unzip (6.0-23+deb10u2) ...
7Progress: [ 40%] [#######################...................................] 8Setting up unzip (6.0-23+deb10u2) ...
7Progress: [ 60%] [##################################........................] 87Progress: [ 80%] [##############################################............] 8Processing triggers for mime-support (3.62) ...

78--2022-05-15 15:52:19--  https://mind201910small.blob.core.windows.net/release/MINDsmall_train.zip
Resolving proxy.dev.dszn.cz (proxy.dev.dszn.cz)... 10.1.3.3
Connecting to proxy.dev.dszn.cz (proxy.dev.dszn.cz)|10.1.3.3|:3128... connected.
Proxy request sent, awaiting response... 200 OK
Length: 52952752 (50M) [application/octet-stream]
Saving to: ‘tmp/mind/MINDsmall_train.zip’

tmp/mind/MINDsmall_ 100%[===================>]  50.50M  1.12MB/s    in 37s

2022-05-15 15:52:56 (1.37 MB/s) - ‘tmp/mind/MINDsmall_train.zip’ saved [52952752/52952752]

--2022-05-15 15:52:57--  https://mind201910small.blob.core.windows.net/release/MINDsmall_dev.zip
Resolving proxy.dev.dszn.cz (proxy.dev.dszn.cz)... 10.1.3.3
Connecting to proxy.dev.dszn.cz (proxy.dev.dszn.cz)|10.1.3.3|:3128... connected.
Proxy request sent, awaiting response... 200 OK
Length: 30945572 (30M) [application/octet-stream]
Saving to: ‘tmp/mind/MINDsmall_dev.zip’

tmp/mind/MINDsmall_ 100%[===================>]  29.51M  2.35MB/s    in 14s

2022-05-15 15:53:11 (2.16 MB/s) - ‘tmp/mind/MINDsmall_dev.zip’ saved [30945572/30945572]

Archive:  tmp/mind/MINDsmall_train.zip
  inflating: ../tmp/mind/train/behaviors.tsv
  inflating: ../tmp/mind/train/entity_embedding.vec
  inflating: ../tmp/mind/train/news.tsv
  inflating: ../tmp/mind/train/relation_embedding.vec
Archive:  tmp/mind/MINDsmall_dev.zip
  inflating: ../tmp/mind/test/behaviors.tsv
  inflating: ../tmp/mind/test/entity_embedding.vec
  inflating: ../tmp/mind/test/news.tsv
  inflating: ../tmp/mind/test/relation_embedding.vec

### Ověření

In [8]:
# read the main train data set
behaviors_train = pd.read_csv(
    os.path.join(ORIGINAL_TRAIN_INPUT_DIR, "behaviors.tsv"),
    sep="\t",
    names=["slateid", "userid", "time", "history", "impressions"]
)
behaviors_train.info()
behaviors_train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156965 entries, 0 to 156964
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slateid      156965 non-null  int64
 1   userid       156965 non-null  object
 2   time         156965 non-null  object
 3   history      153727 non-null  object
 4   impressions  156965 non-null  object
dtypes: int64(1), object(4)
memory usage: 6.0+ MB

,slateid,userid,time,history,impressions
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...
...,...,...,...,...,...
156960,156961,U21593,11/14/2019 10:24:05 PM,N7432 N58559 N1954 N43353 N14343 N13008 N28833...,N2235-0 N22975-0 N64037-0 N47652-0 N11378-0 N4...
156961,156962,U10123,11/13/2019 6:57:04 AM,N9803 N104 N24462 N57318 N55743 N40526 N31726 ...,N3841-0 N61571-0 N58813-0 N28213-0 N4428-0 N25...
156962,156963,U75630,11/14/2019 10:58:13 AM,N29898 N59704 N4408 N9803 N53644 N26103 N812 N...,N55913-0 N62318-0 N53515-0 N10960-0 N9135-0 N5...
156963,156964,U44625,11/13/2019 2:57:02 PM,N4118 N47297 N3164 N43295 N6056 N38747 N42973 ...,N6219-0 N3663-0 N31147-0 N58363-0 N4107-0 N457...
156964,156965,U64800,11/14/2019 3:25:49 PM,N22997 N48742,N61233-0 N33828-1 N19661-0 N41934-0

In [9]:
# read the main test data set
behaviors_test = pd.read_csv(
    os.path.join(ORIGINAL_TEST_INPUT_DIR, "behaviors.tsv"),
    sep="\t",
    names=["slateid", "userid", "time", "history", "impressions"]
)
behaviors_test.info()
behaviors_test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73152 entries, 0 to 73151
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   slateid      73152 non-null  int64
 1   userid       73152 non-null  object
 2   time         73152 non-null  object
 3   history      70938 non-null  object
 4   impressions  73152 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.8+ MB

,slateid,userid,time,history,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,N28682-0 N48740-0 N31958-1 N34130-0 N6916-0 N5...
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,N20036-0 N23513-1 N32536-0 N46976-0 N35216-0 N...
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,N36779-0 N62365-0 N58098-0 N5472-0 N13408-0 N5...
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,N6950-0 N60215-0 N6074-0 N11930-0 N6916-0 N248...
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,N5940-1 N23513-0 N49285-0 N23355-0 N19990-0 N3...
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,N496-0 N35159-0 N59856-0 N13270-0 N47213-0 N26...
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,N49285-0 N31958-0 N55237-0 N42844-0 N29862-0 N...
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,N7043-0 N512-0 N60215-1 N45057-0 N496-0 N37055...
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,N23692-0 N19990-0 N20187-0 N5940-0 N13408-0 N3...
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,N29862-0 N5472-0 N21679-1 N6400-0 N53572-0 N50...

In [10]:
# read the news train data set
news_train = pd.read_csv(
    os.path.join(ORIGINAL_TRAIN_INPUT_DIR, "news.tsv"),
    sep="\t",
    names=["newsid", "category", "subcategory", "title", "abstract", "url", "title_entities", "abstract_entities"]
)
news_train.info()
news_train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51282 entries, 0 to 51281
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   newsid             51282 non-null  object
 1   category           51282 non-null  object
 2   subcategory        51282 non-null  object
 3   title              51282 non-null  object
 4   abstract           48616 non-null  object
 5   url                51282 non-null  object
 6   title_entities     51279 non-null  object
 7   abstract_entities  51278 non-null  object
dtypes: object(8)
memory usage: 3.1+ MB

,newsid,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...,...
51277,N16909,weather,weathertopstories,"Adapting, Learning And Soul Searching: Reflect...",Woolsey Fire Anniversary: A community is forev...,https://assets.msn.com/labs/mind/BBWzQJK.html,"[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid...","[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid..."
51278,N47585,lifestyle,lifestylefamily,Family says 13-year-old Broadway star died fro...,NaN,https://assets.msn.com/labs/mind/BBWzQYV.html,"[{""Label"": ""Broadway theatre"", ""Type"": ""F"", ""W...",[]
51279,N7482,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b...",https://assets.msn.com/labs/mind/BBWzQnK.html,[],[]
51280,N34418,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ...",https://assets.msn.com/labs/mind/BBWzQuK.html,"[{""Label"": ""MLS Cup"", ""Type"": ""U"", ""WikidataId...",[]
51281,N44276,autos,autossports,Best Sports Car Deals for October,NaN,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]

---
## HOTOVO    
- V tuto chvíli byste měli ve výstupních polích tří buňek výše vidět obsah tří tabulek, které tvoří základ datové sady tutoriálu.
  - Pokud tomu tak není, je nutné před pokračováním tutoriálu problém najít a opravit.
- Pro pokračování tutorialu se vraťte na [úvodní notebook tutoriálu](https://colab.research.google.com/github/seznam/IT-akademie-bigdata/blob/master/notebooks/000_uvod.ipynb) a pokračujte podle instrukcí bodu 2.
---
---